{% extends "init_template.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <p class="lead">Добре дошли!</p>
                <p>ChatTrack е иновативна система за проследяване и анализ на разговори, създадена от мен като моята дипломна работа. Тя използва изкуствен интелект и алгоритми за обработка на естествен език, за да предостави ценна информация и бележки за текстови разговори.</p>
                <p>Мониторирайки комуникационните канали, системата е в състояние да идентифицира потенциални проблеми или затруднения, които могат да възникнат.</p>
                <p>ChatTrack има приложение в различни области като социални мрежи, бизнес комуникации и държавни предприятия.</p>
                <div><p class='text-muted' style="text-align: right;">- Симеон Чакъров, <i>студент към ТУ-София</i></p></div>
            </div>
        </div>
    </article>
{% endblock content %}