{% extends "init_template.html" %}
{% block content %}
  {% if current_user.is_authenticated %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pictures/' + chat.owner.profile_pic) }}">
                <a class="username me-2" href="{{ url_for('user_chats', username=chat.owner.username) }}">{{ chat.owner.username }}</a>
                <small class="text-muted">{{ chat.date_uploaded.strftime('%Y-%m-%d') }}</small>
                {% if chat.owner == current_user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_chat', chat_id = chat.id) }}">Обнови записа</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Изтрий записа</button>
                    </div>
                {% endif %}
            </div>
            <h5 class="article-title">Комуникационен канал: {{ chat.channel }}</h5>
            <p class="article-content">{{ chat.content }}</p>
        </div>
        </article>
        {% if chat.has_alerts == true %}
            <div class="alert alert-danger" role="alert">
                <div class="panel-heading">Подозрително съдържание! Моля прегледайте чата за следните изрази:</div>
                <hr class="bg-danger border-2 border-top border-danger">
                {% for phrase in phrases_found %}
                    <div class="font-weight-bold fw-bolder">{{ phrase }}</div>           
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                <div class="panel-heading">Няма намерено подозрително съдържание.</div>
            </div>
        {% endif %}
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Моля потвърдете, зе искате да изтриете файла.</h5>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
                    <form action="{{ url_for('delete_chat', chat_id=chat.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Изтрий">
                    </form>
                    </div>
                </div>
            </div>
        </div>
  {% else %}
    <div class="alert alert-primary" role="alert">
      <div class="panel-heading">Моля влезте в акаунта си преди да продължите.</div>
    </div>
  {% endif %}
{% endblock content %}