{% extends "init_template.html" %}
{% block content %}
<h4 class="mb-3">{{ user.username }}'s chats ({{ chats.total }})</h4>
  {% if current_user.is_authenticated %}
      {% for chat in chats.items %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata pb-2">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pictures/' + chat.owner.profile_pic) }}">
                <a class="username me-2" href="{{ url_for('user_chats', username=chat.owner.username) }}">{{ chat.owner.username }}</a>
                <small class="text-muted">{{ chat.date_uploaded.strftime('%Y-%m-%d') }}</small>
              </div>
              <h5><a class="article-title" href="{{ url_for('chat', chat_id=chat.id)}}">{{ chat.channel }}</a></h5>
              <p class="article-content">{{ chat.content }}</p>
            </div>
          </article>
      {% endfor %}
      {% for page_num in chats.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if chats.page ==page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('user_chats', username=user.username, page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('user_chats', username=user.username, page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
          ...
        {% endif %}
      {% endfor %}
  {% else %}
    <div class="alert alert-primary" role="alert">
      <div class="panel-heading">Please log in!</div>
    </div>
  {% endif %}
{% endblock content %}