  body {
    background: #526D82;
    color: #333333;
    margin-top: 5rem;
  }

  h4, h5{
    color: #9DB2BF;
  }
  
  #clock {
    font-family: "Times New Roman", Times, serif;
    font-size: 26px;
    text-align: left;
}
  
  .site-header .navbar-nav .nav-link {
    color: #9DB2BF;
  }
  
  .navbar {
    background: #27374D;
  }
  .site-header .navbar-nav .nav-link:hover {
    color: #4E4E6A;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #9DB2BF;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #333131;
    text-decoration: none
  }
  
  a.article-title:hover {
    color: #4E4E6A;
    text-decoration: none;
  }
  
  .username {
    color: #333131;
    text-decoration: none
  }
  
  a.username:hover {
    color: #4E4E6A;
    text-decoration: none;
  }

  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    margin-bottom: 4px;
    border-bottom: 2px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .account-img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 16px;
  }