{% extends "init_template.html" %}
{% block content %}
    {% for chat in chats %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted"> <a class="article-title" href="#">{{ chat.author }}</a> {{ chat.date_posted }} - <a class="article-title" href="#">{{ chat.channel }}</a> </small>
          </div>
          <p class="article-content">{{ chat.content }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock content %}